<h1>bleu</h1>


<%# <div>
  <% simple_form_for [@item, @booking]  do |b| %>
    <%# <%= b.input :created_at, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
    <%# <%= b.input :updated_at, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
    <%# <%= b.submit 'Réserver' %>
  <%# <% end %>
<%# </div> %>


<%# data: { controller: 'flatpickr' } %>


    <%= simple_form_for [@item, @booking] do |f| %>
      <div style="margin-right: -8px;">
        <div style="margin-left: 200px">
        <%= f.input :start_at, as: :string, placeholder: "Dates", label: false, input_html: {data: { controller: "flatpickr" }, style: "width: 30vh; height: 4em;"} %>
        </div>
      <%= f.submit "Réserver !"%>
      </div>
    <% end %>
