<div class="fixed-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">

      <%= link_to items_path, class: "navbar-brand" do %>
        <%= image_tag "https://farm3.static.flickr.com/2131/2264940881_0b3aea4854.jpg" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
          <%# ajouter le logo en dessous pour linker à la page home %>
            <%# <li class="nav-item active">
              <%= link_to "Home", "#", class: "nav-link" %>
            <%# </li> %>
            <%# linker la bonne page (ajout d'un item) sur le bouton ajouter une arme %>




            <li class="nav-item dropdown">
              <%= image_tag current_user.photo_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mes réservations", bookings_path, class: "dropdown-item" %>
                <%= link_to "Mes objets", my_items_path, class: "dropdown-item" %>
                <%= link_to "Ajouter un objet", new_item_path, class: "dropdown-item" %>
                <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
                <%= image_tag "https://static.vecteezy.com/system/resources/previews/000/512/576/original/vector-profile-glyph-black-icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <!--li class="nav-item"-->
              <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
