<div class="fond3" >
  <div class="box4">
    <div class="cards_form_add">
        <h2>Add an item</h2>
        <%= simple_form_for @item do |f| %>
          <%= f.input :name, placeholder: 'your stuff' %> <%= f.input :price %>
          <%= f.input :description %>



          <%= f.select :univers, Item::UNIVERS %>
          <%= f.input :category %>

          <%= f.submit class: 'button_add_item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
