<div class="content2">
  <div class="block1">
    <div class="item-poster-wrapper">
      <div class="item-poster">
        <img src="<%= @item.poster_url %>" alt="#">
      </div>

                <div class= "edit">
                <br>
  <% if @item.user == current_user %>
    <%= link_to "Modifier", edit_item_path(@item), class: "button-home1" %>
    <%= link_to "Supprimer", item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Etes vous sur ?"}, class: "button-home2" %>
  <% end %>
      </div>
    </div>

      <div class="info-section">
        <div class="item-name">
          <h1><%= @item.name %></h1>
        </div>

        <div class="item-description">
                <div class="item-price">
          <h2>  <%= @item.price %> € /jours </h2>
        </div>

          <p> <%= @item.description %></p>
        </div>


      </div>


    </div>


  <% if @item.user != current_user %>
    <div class="block2">
      <div class="map-section",
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

      </div>

      <div class="booking-form">
      <h2 class= "text-center" >Reservez cet objet ! </h2>
      <%= simple_form_for [@item, @booking] do |f| %>
        <div style="margin-right: -8px;">
          <div style="margin-left: 200px">
                <div class="booking-date">
          <%= f.input :start_at, as: :string,  placeholder: "Dates", label: false, input_html: {data: { controller: "flatpickr" }, style: "width: 30vh; height: 4em;display:none"} %>
          </div>
                </div>
        <div class="booking-reserve">
        <%= f.submit "Réserver !", class:"button-home"%>
        </div>

        </div>
      <% end %>
      </div>
    </div>

  <% end %>

</div>
