





  <h1><%= @item.name %></h1>
  <p><%= @item.description %></p>
  <h2><%= @item.price %></h2>
  <p><%= @item.category %></p>
  <p><%= @item.univers %></p>
  <img src="<%= @item.poster_url %>" alt="#">


<%= link_to "Back to items", items_path, class: "btn-primary" %>
